version: '3.8'

services:
  bot:
    image: ghcr.io/pasha-iden/yan-weather:latest
    ports:
      - "8000:8000"
    restart: always
    container_name: weather-bot
    environment:
      - TZ=Europe/Moscow
    env_file:
      - .env
    volumes:
      - ./data:/app/data